---
---

<footer class="footer">
    <div class="container">
        <p>&copy; 2025 Guido do Rego.</p>
    </div>
</footer>

<style>

.footer {
    background-color: var(--background-dark);
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

</style>
